[submodule "libs/mavlink-interface"]
	path = libs/mavlink-interface
	url = https://github.com/rijesha/mavlink-interface.git
[submodule "libs/camera-v4l2"]
	path = libs/camera-v4l2
	url = https://github.com/rijesha/camera-v4l2.git
[submodule "libs/aruco"]
	path = libs/aruco
	url = https://github.com/rijesha/aruco.git
[submodule "libs/attitude_controller"]
	path = libs/attitude_controller
	url = https://github.com/rijesha/attitude_controller.git
[submodule "libs/opencv"]
	path = libs/opencv
	url = https://github.com/opencv/opencv.git
[submodule "third_party/aruco"]
	path = third_party/aruco
	url = https://github.com/rijesha/aruco.git
[submodule "third_party/opencv"]
	path = third_party/opencv
	url = https://github.com/opencv/opencv.git
[submodule "third_party/mavlink"]
	path = third_party/mavlink
	url = https://github.com/mavlink/mavlink.git
