[submodule "libs/mavlink"]
	path = libs/mavlink
	url = https://github.com/mavlink/c_library_v1.git
[submodule "src/mavlink-interface"]
	path = src/mavlink-interface
	url = git@github.com:rijesha/mavlink-interface.git
