*.pyc
*.vscode/
*.o
python/calibrationImages/
python/1280x960 calib data/
python/2592x1944 calib data/
python/640x480 calib data/
latencyTest
5mpz/
folderAnalyzer
lots of data/
old/
testData/
test_data_collection
python/*.jpg
TestData.csv
build/*
compVisionModule.geany
